MDP-Projektni zadatak/CommunicationSOAPServer/WebContent/wsdl/SomeStupidReceiver.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://receiver.etf.unibl.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://receiver.etf.unibl.org" xmlns:intf="http://receiver.etf.unibl.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://receiver.etf.unibl.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="imaLiStaZaPolicijskuKontrolu">
    <complexType>
     <sequence>
      <element name="idITipUlazaIzlaza" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="imaLiStaZaPolicijskuKontroluResponse">
    <complexType>
     <sequence>
      <element name="imaLiStaZaPolicijskuKontroluReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="imaLiStaZaCarinskuKontrolu">
    <complexType>
     <sequence>
      <element name="idITipUlazaIzlaza" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="imaLiStaZaCarinskuKontroluResponse">
    <complexType>
     <sequence>
      <element name="imaLiStaZaCarinskuKontroluReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="dodajOdgovorOdPolicijskeKontrole">
    <complexType>
     <sequence>
      <element name="jmb" type="xsd:int"/>
      <element name="idUlazaIzlaza" type="xsd:string"/>
      <element name="daLiProlaziPolicijskuKontrolu" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="dodajOdgovorOdPolicijskeKontroleResponse">
    <complexType/>
   </element>
   <element name="dodajOdgovorOdDodavanjaFajlaa">
    <complexType>
     <sequence>
      <element name="jmb" type="xsd:int"/>
      <element name="idUlazaIzlaza" type="xsd:string"/>
      <element name="daLiJeDodatFajl" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="dodajOdgovorOdDodavanjaFajlaaResponse">
    <complexType/>
   </element>
   <element name="dodajOdgovorOdCarinskeKontrole">
    <complexType>
     <sequence>
      <element name="jmb" type="xsd:int"/>
      <element name="idUlazaIzlaza" type="xsd:string"/>
      <element name="daLiProlaziCarinskuKontrolu" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="dodajOdgovorOdCarinskeKontroleResponse">
    <complexType/>
   </element>
   <element name="dodajOdgovorKadJeObustavaSaobracaja">
    <complexType>
     <sequence>
      <element name="jmb" type="xsd:int"/>
      <element name="idUlazaIzlaza" type="xsd:string"/>
      <element name="poruka" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="dodajOdgovorKadJeObustavaSaobracajaResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="imaLiStaZaPolicijskuKontroluRequest">

      <wsdl:part element="impl:imaLiStaZaPolicijskuKontrolu" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="dodajOdgovorOdCarinskeKontroleRequest">

      <wsdl:part element="impl:dodajOdgovorOdCarinskeKontrole" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="dodajOdgovorOdPolicijskeKontroleResponse">

      <wsdl:part element="impl:dodajOdgovorOdPolicijskeKontroleResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="dodajOdgovorKadJeObustavaSaobracajaRequest">

      <wsdl:part element="impl:dodajOdgovorKadJeObustavaSaobracaja" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="dodajOdgovorKadJeObustavaSaobracajaResponse">

      <wsdl:part element="impl:dodajOdgovorKadJeObustavaSaobracajaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="imaLiStaZaCarinskuKontroluRequest">

      <wsdl:part element="impl:imaLiStaZaCarinskuKontrolu" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="dodajOdgovorOdCarinskeKontroleResponse">

      <wsdl:part element="impl:dodajOdgovorOdCarinskeKontroleResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="dodajOdgovorOdDodavanjaFajlaaRequest">

      <wsdl:part element="impl:dodajOdgovorOdDodavanjaFajlaa" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="imaLiStaZaPolicijskuKontroluResponse">

      <wsdl:part element="impl:imaLiStaZaPolicijskuKontroluResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="imaLiStaZaCarinskuKontroluResponse">

      <wsdl:part element="impl:imaLiStaZaCarinskuKontroluResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="dodajOdgovorOdPolicijskeKontroleRequest">

      <wsdl:part element="impl:dodajOdgovorOdPolicijskeKontrole" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="dodajOdgovorOdDodavanjaFajlaaResponse">

      <wsdl:part element="impl:dodajOdgovorOdDodavanjaFajlaaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SomeStupidReceiver">

      <wsdl:operation name="imaLiStaZaPolicijskuKontrolu">

         <wsdl:input message="impl:imaLiStaZaPolicijskuKontroluRequest" name="imaLiStaZaPolicijskuKontroluRequest">

       </wsdl:input>

         <wsdl:output message="impl:imaLiStaZaPolicijskuKontroluResponse" name="imaLiStaZaPolicijskuKontroluResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="imaLiStaZaCarinskuKontrolu">

         <wsdl:input message="impl:imaLiStaZaCarinskuKontroluRequest" name="imaLiStaZaCarinskuKontroluRequest">

       </wsdl:input>

         <wsdl:output message="impl:imaLiStaZaCarinskuKontroluResponse" name="imaLiStaZaCarinskuKontroluResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="dodajOdgovorOdPolicijskeKontrole">

         <wsdl:input message="impl:dodajOdgovorOdPolicijskeKontroleRequest" name="dodajOdgovorOdPolicijskeKontroleRequest">

       </wsdl:input>

         <wsdl:output message="impl:dodajOdgovorOdPolicijskeKontroleResponse" name="dodajOdgovorOdPolicijskeKontroleResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="dodajOdgovorOdDodavanjaFajlaa">

         <wsdl:input message="impl:dodajOdgovorOdDodavanjaFajlaaRequest" name="dodajOdgovorOdDodavanjaFajlaaRequest">

       </wsdl:input>

         <wsdl:output message="impl:dodajOdgovorOdDodavanjaFajlaaResponse" name="dodajOdgovorOdDodavanjaFajlaaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="dodajOdgovorOdCarinskeKontrole">

         <wsdl:input message="impl:dodajOdgovorOdCarinskeKontroleRequest" name="dodajOdgovorOdCarinskeKontroleRequest">

       </wsdl:input>

         <wsdl:output message="impl:dodajOdgovorOdCarinskeKontroleResponse" name="dodajOdgovorOdCarinskeKontroleResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="dodajOdgovorKadJeObustavaSaobracaja">

         <wsdl:input message="impl:dodajOdgovorKadJeObustavaSaobracajaRequest" name="dodajOdgovorKadJeObustavaSaobracajaRequest">

       </wsdl:input>

         <wsdl:output message="impl:dodajOdgovorKadJeObustavaSaobracajaResponse" name="dodajOdgovorKadJeObustavaSaobracajaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SomeStupidReceiverSoapBinding" type="impl:SomeStupidReceiver">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="imaLiStaZaPolicijskuKontrolu">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="imaLiStaZaPolicijskuKontroluRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="imaLiStaZaPolicijskuKontroluResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="imaLiStaZaCarinskuKontrolu">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="imaLiStaZaCarinskuKontroluRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="imaLiStaZaCarinskuKontroluResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="dodajOdgovorOdPolicijskeKontrole">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="dodajOdgovorOdPolicijskeKontroleRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="dodajOdgovorOdPolicijskeKontroleResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="dodajOdgovorOdDodavanjaFajlaa">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="dodajOdgovorOdDodavanjaFajlaaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="dodajOdgovorOdDodavanjaFajlaaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="dodajOdgovorOdCarinskeKontrole">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="dodajOdgovorOdCarinskeKontroleRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="dodajOdgovorOdCarinskeKontroleResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="dodajOdgovorKadJeObustavaSaobracaja">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="dodajOdgovorKadJeObustavaSaobracajaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="dodajOdgovorKadJeObustavaSaobracajaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SomeStupidReceiverService">

      <wsdl:port binding="impl:SomeStupidReceiverSoapBinding" name="SomeStupidReceiver">

         <wsdlsoap:address location="http://localhost:8080/CommunicationSOAPServer/services/SomeStupidReceiver"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
